html {
  background-color: rgb(31, 31, 80);
}

.imageContainer {
  text-align: center;
}

.clicked {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
  
}

.notClicked {
  display: none;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
  
}

.image {
  user-select: none;
  position: relative;
  
}

.list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.li {
  border: 2px solid white;
  width: 40px;
  list-style-type: none;
  color: white;
  
}

.pokemon {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  position:absolute;
  left: 200px;
  top: 445px;
  padding: 0;
  margin: 0;
  
}

.pokemon {
  padding: 0;
  margin: 0;
}

.pokemon2 {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  position:absolute;
  left: 400px;
  top: 300px;
  padding: 0;
  margin: 0;
  
}

.pokemon3 {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  position:absolute;
  left: 700px;
  top: 200px;
  padding: 0;
  margin: 0;
  
}
